<footer class="bg-gray-800 text-white p-8 mt-8">
    <div class="flex justify-between">
        <div class="max-w-xs">
            <h2 class="text-xl font-semibold mb-4">Sobre el proyecto</h2>
            <p class="text-sm">Este es el trabajo final de sistemas de recomendación.
                El sitio cuenta con un conjunto de repos reales descargados de Github,
                sobre los cuales se realizan operaciones de interacción del area de 
                sistemas de recomendación.
            </p>
        </div>
        <div class="max-w-xs">
            <h2 class="text-xl font-semibold mb-4">Contact</h2>
            <p class="text-sm">Email: tomasdelvechio17 at gmail dot com</p>
            <p class="text-sm">Site: <a href="http://tomasdelvechio.github.io/">http://tomasdelvechio.github.io/</a></p>
        </div>
        <div class="max-w-xs">
            <h2 class="text-xl font-semibold mb-4">Algo mas???</h2>
            <p class="text-sm">Social Media Links...</p>
        </div>
    </div>

    <hr class="my-6 border-gray-600">

    <p class="text-sm text-center">© 2023 Recomendador de repos. All rights reserved.</p>
</footer>