<script>
    // Get the like button element
    var likeButtons = document.querySelectorAll('.like-button');

    likeButtons.forEach(function (button) {
        button.addEventListener('click', function() {
            let selectLike = true;

            // cambio de estilo
            var icon = button.querySelector('.fa-regular, .fa-solid');
            if (icon.classList.contains('fa-regular')) {
                icon.classList.remove('fa-regular');
                icon.classList.add('fa-solid');
                selectLike = true;
            } else {
                icon.classList.remove('fa-solid');
                icon.classList.add('fa-regular');
                selectLike = false;
            }

            // comportamiento
            fetch('/like', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                // You can pass data in the body if required
                body: JSON.stringify({
                    id: button.id,
                    like: selectLike,
                }),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });

            // manejamos el botón de refrescar
            let botonRefrescar = document.getElementById("boton-refrescar-recomendaciones");
            let noLikes = (document.querySelectorAll(['.fa-thumbs-up.fa-solid']).length === 0) ? true : false ;
            // si no hay likes, no tiene sentido recargar
            if (noLikes) {
                // deshabilitar
                botonRefrescar.classList.add("opacity-50");
                botonRefrescar.classList.add("cursor-not-allowed");
            } else {
                // habilitar
                botonRefrescar.classList.remove("opacity-50");
                botonRefrescar.classList.remove("cursor-not-allowed");
            }
        });
    });
</script>
<style>
    .like-button i {
        transition: color 0.3s ease-in-out;
    }

    .like-button .fa-solid {
        color: black;
    }
</style>