{% extends "base.html" %}

{% block content %}
<form method="post">
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-4">
		{% for repo in repos %}
		<div class="border shadow-lg p-4 rounded-lg flex flex-col min-h-min">
			<div class="ml-4 flex items-center">
				<i class="fa-solid fa-book-bookmark mr-2"></i>
				<p class="text-sm font-semibold whitespace-nowrap overflow-hidden text-ellipsis text-blue-500"><a href="https://github.com/{{ repo.id }}">{{ repo.id }}</a></p>
			</div>
			<div class="ml-4">
				<p class="my-2 text-xs text-slate-500 font-light max-h-12 line-clamp-3">{{ repo.about|title }}</p>
			</div>
			<div class="ml-4 flex mt-auto text-sm items-center font-light">
				<p class="mr-4">
					<i class="fa-solid fa-star mr-2"></i>
					{{ repo.stars }}
				</p>
				<p class="mr-4">
					<i class="fa-solid fa-code-fork mr-2"></i>
					{{ repo.forks }}
				</p>
				<p class="mr-4">
					<label>
						Mi puntuación:
						<select name="{{repo.id_repo}}" class="p-1 border">
							<option value="0" selected></option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select>
					</label>
				</p>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="flex justify-between">
		<small> lector: {{ id_usuario }} - cant. valorados: {{ cant_valorados }} - cant. ignorados: {{ cant_ignorados}} - <a href="/reset" class="px-2 py-1 bg-teal-500 text-sm text-white rounded-xl">reset</a></small>
		<button type="submit" class="border bg-teal-500 hover:bg-teal-700 text-white text-lg font-bold px-4 py-2 ml-auto">Más recomendaciones</button>
	</div>
</form>
{% endblock content %}